[Unit]
Description=Across Protocol Relayer
After=network.target

[Service]
Type=simple
User=radius
WorkingDirectory=/home/radius/relayer-v3
EnvironmentFile=/home/radius/relayer-v3/.env
ExecStart=/home/radius/.nvm/versions/node/v22.18.0/bin/node ./dist/index.js --relayer --wallet secret
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=across-relayer

[Install]
WantedBy=multi-user.target
